
.card-title{
  text-align: center;
  padding: 5px;
}
.card-text{
  padding:10px;
}
.inputBox{
  margin-left: 15%;
  margin-right: 5%;
}
.btn {
  line-height: 1;
}
.input-group-text{
  background-color: black;
  color:white;
}